<app-header></app-header>
<div class="sidebar">
  <a href="/index">dashboard</a>
  <a class="active" href="/themes">themes</a>
  <a href="/addaverage">new averages</a>
  <a href="/myaverage">my averages</a>
</div>

<div class="content">
  <div class="themeCard">
    <h2 align="center"> INDUCTIVE PRINCIPLE </h2>
    <img src="assets/images.png"> <br>
    <h2 align="center">SET THEORY</h2>
    <img src="assets/images2.png"> <br>
    <h2 align="center">THEORY OF RELATIONS BETWEEN SETS</h2>
    <img src="assets/images3.jpeg"> <br>
    <h2 align="center">FUNCTIONS</h2>
    <img src="assets/images4.png">
  </div> <br> <br>
</div> 
