.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
    
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
    
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
    
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
    
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px; 
  }

  div.themeCard {
    width: 700px;
    height: 1100px;
    background-color: cadetblue;
    border-radius: 12px;
    margin: 100px auto;
  }

  div.themeCard img {
    display: block;
    margin: auto;
    border-radius: 12px;
    width: 300px;
    height: 200px;
  }
    
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }

  @media screen and (max-width:928px) {
    div.themeCard {
      width: 660px;
    }
  }

  @media screen and (max-width:888px) {
    div.themeCard {
      width: 620px;
    }
  }
    
  @media screen and (max-width:840px) {
    div.themeCard {
      width: 580px;
    }
  }

  @media screen and (max-width:812px) {
    div.themeCard {
      width: 540px;
    }
  }

  @media screen and (max-width:760px) {
    div.themeCard {
      width: 500px;
    }
  }

  @media screen and (max-width:724px) {
    div.themeCard {
      width: 460px;
    }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
    