.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px; 
  }

  div.welcomeCard {
    width: 700px;
    background-color: #04AA6D;
    margin: 100px auto;
    height: 300px;
    border-radius: 10px;
  }

  div.welcomeCard img {
    display: block;
    margin: auto;
    border-radius: 10px;
  }

  @media  screen and (max-width: 942px) {
    div.welcomeCard {
      width: 660px;
    }
  }

  @media  screen and (max-width: 897px) {
    div.welcomeCard {
      width: 620px;
    }
  }

  @media  screen and (max-width: 854px) {
    div.welcomeCard {
      width: 580px;
    }
  }

  @media  screen and (max-width: 816px) {
    div.welcomeCard {
      width: 540px;
    }
  }

  @media  screen and (max-width: 773px) {
    div.welcomeCard {
      width: 500px;
      height: 310px;
    }
  }

  @media  screen and (max-width: 735px) {
    div.welcomeCard {
      width: 460px;
      height: 310px;
    }
  }
  
  @media  screen and (max-width: 532px) {
    div.welcomeCard {
      width: 380px;
      height: 310px;
    }
  }

  @media  screen and (max-width: 531px) {
    div.welcomeCard {
      width: 200px;
      height: 310px;
    }
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
    div.welcomeCard {
      width: 500px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.welcomeCard {
      width: 300px;
    }
  }
  